.orderPayment {
    padding: var(--yaya-padding);
    color: #000;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.orderSummary {
    margin-bottom: var(--yaya-padding);
}

.orderDelivery {
    margin-bottom: var(--yaya-padding);
}

.orderPaymentProceed {
    margin-top: calc(var(--yaya-padding) * 2);
}

.orderPaymentModes {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.orderPaymentModes button {
    width: 250px;
}

.userDeliveryAddress {
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: var(--yaya-padding);
}

.userDeliveryAddress > div {
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 16px);
    gap: 2px;
    border: 1px solid rgba(var(--yaya-third-rgbval), 30%);
    border-radius: 5px;
    flex-grow: 1;
    padding: calc(var(--yaya-padding) / 2);
}

.userField {
    width: 50%;
    font-weight: bold;
    font-size: 18px;
}

.userLabel {
    color: var(--yaya-third);
    font-size: 12px;
}

.userDeliveryAddress > div.userCivility {
    flex-grow: 0;
    flex-basis: calc(15% - (16px * 2 / 3));
}

.userDeliveryAddress > div.userFirstName {
    flex-basis: calc((85% / 2) - (16px * 2 / 3));
}

.userDeliveryAddress > div.userLastName {
    flex-basis: calc((85% / 2) - (16px * 2 / 3));
}

.userDeliveryAddress > div.userStreetNumber {
    flex-grow: 0;
    flex-basis: calc(15% - (16px / 2));
}

.userDeliveryAddress > div.userStreetName {
    flex-basis: calc(85% - (16px / 2));
}

.userDeliveryAddress > div.userZipCode {
    flex-grow: 0;
    flex-basis: calc(18% - (16px / 2));
}

.userDeliveryAddress > div.userCity {
    flex-basis: 10%;
}

.orderContent {
    display: flex;
    flex-direction: column;
    gap: var(--yaya-padding);
    border: 1px solid rgba(var(--yaya-third-rgbval), 30%);
    border-radius: 5px;
    padding: calc(var(--yaya-padding) / 2);
    margin-bottom: var(--yaya-padding);
}

.cartItem {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    gap: 16px;
}

.itemDetails {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.itemName {
    font-size: 20px;
    font-weight: bold;
}

.itemOptions {

}

.itemQuantity {

}

.itemIcons {
    cursor: pointer;
}
.itemIcons:hover {
    color: var(--yaya-prime);
}

.itemPrice {
    font-size: 18px;
    flex-grow: 0;
}


.orderTotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    gap: var(--yaya-padding);
    border: 1px solid rgba(var(--yaya-third-rgbval), 30%);
    border-radius: 5px;
    padding: calc(var(--yaya-padding) / 2);
    margin-bottom: calc(var(--yaya-padding) * 2);
}

.orderTotalPrice {
    font-size: 24px;
}

.deliveryTimeRanges {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(3 * 22px);
    align-content: flex-start;
    column-gap: var(--yaya-padding);
    /* align-items: flex-start; */
}

.deliveryInfo {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.orderDeliveryAddress {
    font-size: 20px;
    font-weight: bold;
}

.orderDeliveryAddress .userField {
    font-size: 20px;
    font-weight: bold;
}

.orderDeliveryDetails {
    border: 1px solid rgba(var(--yaya-third-rgbval), 30%);
    border-radius: 5px;
    padding: calc(var(--yaya-padding) / 2);
    margin-bottom: var(--yaya-padding);
}

.orderNotConnected {
    display: flex;
    column-gap: var(--yaya-padding);
    position: relative;
    justify-content: space-around;
    align-items: center;
}

.orderNotConnected > div {
    flex: 0 0 calc(30% - var(--yaya-padding) / 2);
}

.orderNotConnected::before {
    content: "";
    display: block;
    width: 1px;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 25%;
    background-color: var(--yaya-neutral);
}

.registerSection {
    display: flex;
    flex-direction: column;
    gap: calc(var(--yaya-padding) / 2);
}


.registerSection > p {
    margin-bottom: 0;
}