@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Varela+Round&display=swap');


@font-face {
    font-family: "Varela Round";
    src: url(/fonts/Varela_Round/VarelaRound-Regular.ttf);
}

@font-face {
    font-family: "Concert One";
    src: url(/fonts/Concert_One/ConcertOne-Regular.ttf);
}

.header {
    width: 100vw;
    height: 10vh;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-around;
    background-color: white;
}

.logoContainer {
    width: 25%;
    height: fit-content;
    align-items: center;
}
.logo {
    width: 150px;
    height: 150px;
    cursor: pointer
}



.linkContainer {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.linkPop {
    font-family: 'Concert One';
    color: #707070;
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;

}

.linkPop:hover {
    color:#F27C00;
    cursor: pointer;
}

.link {
    font-family: 'Concert One';
    color: #707070;
    margin-left: 10%;
    margin-right: 10%;
}

.link:hover {
    color:#F27C00;
    cursor: pointer;
}

.iconsContainer {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
}

.headerIcons{
    margin-left: 5%;
    margin-right: 5%;
    color: #707070;
}

.headerIcons:hover{
    color:#F27C00;
    cursor: pointer;
}

.popoverUserContent {
    display :flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* width: 10vw; */
    /* padding-left: 5vw; */
    /* padding-right: 5vw; */
  }
  
  .registerContainer {
    display: flex;
    flex-direction: column;
    width: 10vw;
  }
  
  .registerSection{
    display: flex;
    flex-direction: column;
    /* width: fit-content; */
  }
  
  .popovertitle {
    font-family: 'Concert One';
    color: #707070;
  }

  

  .logoutSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 120px;
  }

  .Input {
    font-family: 'Varela Round';
    font-size: 1.5vh;
    margin-bottom: 1.2vh;
  }
  .select{
    font-family: 'Varela Round';
    font-size: 1.5vh;
    margin-bottom: 1.2vh;
  }


.button{
background-color: #F27C00;
color:white;
border-radius: 5px;
border: none;
height: 3vh;
font-family: 'Concert One';

}
.buttonPop {
    background-color: #F27C00;
    color:white;
    border-radius: 5px;
    border: none;
    height: 3vh;
    font-family: 'Concert One';
    margin-top: 5%;
    }


.popoverCartContent{
    display :flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    padding-left: 1vw;
    padding-right: 1vw;
    /* min-width: 280px; */
}

.popoverCartItem {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    margin-left: -8px;
}

.popoverCartItem span {
    flex-shrink: 0;
}

.popoverCartItemImage {
    width: 24px;
    text-align: center;
}

.popoverCartItemName {
    font-weight: bold;
}

.popoverCartItemPrice {
    font-size: 12px;
}

.popoverCartItemVolume {
    font-size: 13px;
}

.popoverCartItemQuantity {
    font-size: 12px;
}

.popoverCartItem .headerIcons {
    margin: 0;
    margin-left: auto;
}


.popoverCartText{
    font-family: 'Varela Round';
}

.logo{
    width: 15%;
    height: 15%;
}


.signUpForm {
    display: flex;
    flex-direction: column;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.footerButton {
    background-color: #F27C00;
color:white;
border-radius: 5px;
border: none;
height: 3vh;
font-family: 'Concert One';
margin-left: 5%;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addressSection{
    display: flex;
    flex-direction: column;
    justify-content: flex start;

}

.passwordSection{
    display: flex;
    flex-direction: column;
    justify-items: space-between;
}

.error{
    color: red;
    
}

.popoverShopContent{
    display :flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    padding-left: 1vw;
    padding-right: 1vw;
}