@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Varela+Round&display=swap');


@font-face {
    font-family: "Varela Round";
    src: url(/frontend/fonts/Varela_Round/VarelaRound-Regular.ttf);
}

@font-face {
    font-family: "Concert One";
    src: url(/frontend/fonts/Concert_One/ConcertOne-Regular.ttf);
}


.p {
    font-family: 'Varela Round';
    color:707070 ;
}


.mainContainer {
    padding-top: 10%;
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
}

.ingredientList1{
    width : 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0%;
    margin-top: -2%;
    
    
}

.ingredientList2{
    width : 33%;
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    justify-content: flex-start;
    margin-top: -2%;
    align-items: center;
}

.ingredient{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ingredientButton{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 5%;
}

.ingredientButton2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5%;
}


.bottleContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -10%;
    margin-right: -10%;
}


.button{
    background-color: #F27C00;
    color:white;
    border-radius: 5px;
    border: none;
    height: 5vh;
    font-family: 'Concert One';
    width: 30%;
    margin-left: 2vw;
    margin-right: 2vw;
    cursor: pointer;
}

.round_button{
    border-radius: 50%;
    border: none;
    background-color: #D9D9D9 ;
    color: #F27C00;
    font-family: 'Concert One';
    font-size: 1.5em;
    width: 2vw;
    justify-content: center;
    align-content: center;
    
}

.ingredientNameBox{
    width: 75%;
    align-content: center;
}

.ingredientName1{
    font-family: 'Concert One';
    font-size: 1.3rem;
    margin-right: 2%;
    text-align: right;
    
}

.ingredientName2{
    font-family: 'Concert One';
    font-size: 1.3rem;
    margin-right: 2%;
    text-align: start;
}

.bottle_bar{
    
    width: 22%;
    height: 50%;
    border-radius: 10px;
    background-color: #e6e6e6;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.bottle_bar_fill{
    height: 100%;
    border-radius: 10px;
    background: transparent;
    transition: height 0.5s ease-out;
}

.fill_label{
    margin-top: 5%;
    font-size: 25px;
    font-family: 'Concert One';
    color: #444444;
    margin-bottom: 5%;
}

.buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
}

.subTitle{
    font-family: 'Concert One';
    font-size: 1.2rem;
}

.MyingredientsList{
    font-family: 'Varela Round';
    font-size: 1.2rem;
    
}

