/* styles/ConceptPage.module.css */
.conceptPage {
    padding: var(--yaya-padding);
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
  }
  
  .pageTitle {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: calc(var(--yaya-padding) * 2);
    color: var(--yaya-prime);
  }
    
  .concept {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px; 
    padding: var(--yaya-padding);
  }

  .concepts {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .concept.reverse {
    flex-direction: row-reverse; 
  }
  
  .conceptImage {
    width: 300px;
    height: auto;
    border-radius: 10px;
  }
  
  .conceptDetails {
    flex-grow: 1;
    text-align: left;
  }
  
  .conceptTitle {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 16px;
    color: var(--yaya-prime);
  }
  
  .conceptDescription {
    font-size: 18px;
    color: var(--yaya-second);
  }
  
  .main{
    margin-top: -8vh;
  }

  .heroSection{
    width: 100vw;
    height: fit-content;
    background: var(--yaya-second);
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
  }
  .rightSection{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:50%;
    text-align: justify;
  }

  .whiteSub{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    line-height: 6vh;
  }

  .whiteTitle{
    font-family: 'concert-one';
    font-size: 5vh;
    
  }

  .whiteText{
    line-height: 4vh;
  }
  .whiteExergue{
    font-family: 'concert-one';
    font-size: 5vh;
  }

  .rightSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .portrait{
    margin-top: 5vh;
    width: 100%;
    border-radius: 20px;
  }

.engagement{
  margin-bottom: 10vh;
}


