.engagementContainer {
    background-color: var(--yaya-second);
    padding: 40px 20px;
    text-align: center;
    border-radius: 8px;
    margin-top: 40px; 
  }
  
  .engagementTitle {
    font-family: 'concert-one';
    font-size: 5vh;
    color: white; 
    margin-bottom: 20px;
  }
  
  .engagementDescription {
    font-size: 18px;
    color: white;
    line-height: 1.5;
  }
  