
.vignette {
  border: 1px solid #ddd;
  padding: 16px;
  text-align: center;
  transition: box-shadow 0.3s ease;
  width: 15vw;
  border-radius: 5%;
  overflow: hidden;
  margin-bottom: 5vh;
}

.vignette:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.productImage {
  width: 100%;
  height: auto;
  cursor: pointer;
  margin-bottom: 8px;
  transition: 0.2s ease;
}

.productImage:hover {
  transform : scale(1.5);
}
.productImage:hover + .productName{
color: var(--yaya-prime);
}

.productName {
  font-size: 1.2rem;
  margin-bottom: 8px;
  margin-top: 5vh;

}

.productPrice {
  font-size: 1rem;
  color: #888;
  margin-bottom: 16px;
  font-family: 'concert-one';
  text-transform: uppercase;
}

.addToCartButton {
  background-color: var(--yaya-third);
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 16px;
  border-radius: 5px;
}

.addToCartButton:hover {
  background-color: var(--yaya-prime);
}
